application:
	mapping:
		*: IPubTests\MobileDetect\*Presenter

services:
	# Test presenter
	presenters.test:
		class: IPubTests\MobileDetect\TestPresenter

	router: IPubTests\MobileDetect\Libs\RouterFactory::createRouter
