{isMobile}
    <div id="mobileDevice">Mobile device</div>
{/isMobile}
{isTablet}
    <div id="tableDevice">Table device</div>
{/isTablet}

{isPhone}
    <div id="phoneDevice">Phone device</div>
{/isPhone}

{isMobileDevice iPhone}
    <div id="mobileDevice">iPhone</div>
{/isMobileDevice}

{isMobileOs iOS}
    <div id="mobileOs">iOS</div>
{/isMobileOs}
